#meal{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 10px;
}
.meal-item{
border: 2px solid red;
border-radius: 10px;
}
.meal-item img{
 width: 100%;
}
.recipe-btn{
    text-decoration: none;
    border: 2px solid blue;
    background-color: blue;
    height: 50px;
}